card-professional-experience {
    border: 1px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    gap: 10px;
}

.profissional-experience-containet{
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.activities{
    margin-left: 40px;

}